{% extends "insert/base.html" %}
{% load staticfiles %}
{% load static %}

{% block local_css %}

<link rel="stylesheet" href="{% static 'landing/lib/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/lib/font-awesome/css/font-awesome.css' %}"/>

<link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/style-responsive.css' %}">

{% endblock local_css %}

{% block content %}

<section id="main-content">
    <section class="wrapper" style="margin-top: 4%;">
        <br>
        <div class="col-lg-2">
        </div>
        <div class="content-panel col-lg-8 text-center">
            <h1>
                {{object.title}} - Delete
            </h1>
            <h3>
                {{ object.content }}
            </h3>
        </div>
    </section>
</section>

{% endblock content %}

{% block local_javascript %}

<script src="{% static 'landing/lib/jquery-ui-1.9.2.custom.min.js' %}"></script>

<script>
    $(function() {
        $('.confirm').click(function(e) {
            e.preventDefault();
            if (window.confirm("Are you sure?")) {
                location.href = this.href;
            }
        });
    });
</script>


{% endblock local_javascript %}