{% extends "scada/base.html" %}
{% load staticfiles %}
{% load static %}

{% block local_css %}

<link rel="stylesheet" href="{% static 'scada/lib/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'scada/lib/font-awesome/css/font-awesome.css' %}"/>

<link rel="stylesheet" href="{% static 'scada/css/style.css' %}">
<link rel="stylesheet" href="{% static 'scada/css/style-responsive.css' %}">

{% endblock local_css %}

{% block content %}
<section id="main-content" >
    <section class="wrapper" style="margin-top: 5%">
        <br>
        <div class="col-lg-2">
        </div>
        <div class="content-panel col-lg-8 text-center">
            <div class="btn-sm border border-secondary rounded col-lg-12 p-1 my-1">
                <div class="text-center text-secondary h5">
                    <h3>
                        O atual estado do LED é: <span id="content_mqtt">wait</span>
                    </h3>
                </div>
            </div>
            <div class="btn-sm border border-secondary rounded col-lg-6 p-1 my-1">
                <div class="text-center text-secondary h5">
                    <button class="btn-sm btn-success border border-secondary" onclick="turnON()">
                        ligar
                    </button>
                </div>
            </div>
            <div class="btn-sm border border-secondary rounded col-lg-6 p-1 my-1">
                <div class="text-center text-secondary h5">
                    <button class="btn-sm btn-danger border border-secondary" onclick="turnOFF()">
                        desligar
                    </button>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock content %}

{% block local_javascript %}

<script src="{% static 'scada/lib/jquery-ui-1.9.2.custom.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    var mqtt;
    var reconnectTimeout = 2000;
    var host = "192.168.0.38";
    var port = 9001;

    function onConnect(){
        console.log("Connected!");
        mqtt.subscribe("sensor1");
        //message = new Paho.MQTT.Message("Hello world!");
        //message.destinationName = "sensor1";
        //mqtt.send(message);
    }

    function onFailure(message){
        console.log("Connection Attempt to Host "+ host +" Failed");
        setTimeout(MQTTconnect, reconnectTimeout);
    }

    function onMessageArrived(msg){
        out_msg = "Message received " + msg.payloadString + "<br>";
        out_msg = out_msg + "Message received Topic: " + msg.destinationName;
        console.log(out_msg);
        $('#content_mqtt').text(msg.payloadString);
    }

    function MQTTconnect(){
        console.log("Connecting to " + host);
        mqtt = new Paho.MQTT.Client(host, port, "clientjs");
        var options = {
            timeout: 3,
            onSuccess: onConnect,
            onFailure: onFailure,
        };

        mqtt.onMessageArrived = onMessageArrived

        mqtt.connect(options);
    }

    function turnON(){
        message = new Paho.MQTT.Message("HIGH");
        message.destinationName = "sensor1";
        mqtt.send(message);
    }

    function turnOFF(){
        message = new Paho.MQTT.Message("LOW");
        message.destinationName = "sensor1";
        mqtt.send(message);
    }
</script>
<script>
    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function repeatMQTT(){
        var connect_show = false;

        while(true){
            await sleep(5000);
            MQTTconnect();
            if(connect_show == false){
                $('#content_mqtt').text("CONNECTED");
                connect_show = true;
            }
        }
    }

    repeatMQTT();
    
</script>

{% endblock local_javascript %}