<header class="header black-bg">
    {% if user.is_authenticated %}
        <div class="sidebar-toggle-box">
            <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Menu"></div>
        </div>
    {% endif %}
<!--logo start-->
    <a href="{% url 'landing-home' %}" class="logo"><b>DATA CENTER <span>HOME</span></b></a>
<!--logo end-->
    <div class="nav notify-row" id="top_menu">
        <!--  notification start -->
        <ul class="nav top-menu">

        </ul>
        <!--  notification end -->
    </div>
    <div class="top-menu">
        <ul class="nav pull-right top-menu">
            {% if user.is_authenticated %}
            <li>
                <a class="logout" href="{% url 'landing-logout' %}">Sair</a>
            </li>
            {% else %}
            
            <div class="form-group" style="margin-top: 20%;">
                <li>
                    <a href="{% url 'landing-login' %}">
                        <button class="btn">Entrar</button>
                    </a>
                </li>
            </div>
                
            {% endif %}
        </ul>
    </div>
</header>