{% extends "landing/base.html" %}
{% load staticfiles %}
{% load static %}

{% block local_css %}

<link rel="stylesheet" href="{% static 'landing/lib/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/lib/font-awesome/css/font-awesome.css' %}"/>

<link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/style-responsive.css' %}">

{% endblock local_css %}

{% block content %}
<section id="main-content" >
    <section class="wrapper" style="margin-top: 5%">
        <br>
        <div class="col-lg-2">
        </div>
        <div class="content-panel col-lg-8 text-center">
            <div class="btn-sm border border-secondary rounded col-lg-12 p-1 my-1">
                <div class="text-center text-secondary h5">
                    <img src="{% static 'landing/img/bulb.png' %}"  style="max-width: 200px; height: auto;">
                </div>
            </div>
            <div class="btn-sm border border-secondary rounded col-lg-12 p-1 my-1">
                <div class="text-center text-secondary h5">
                    <h3>
                        SISTEMA DE MONITORAMENTO E ATUAÇÃO DE DISPOSITIVOS
                    </h3>
                </div>
            </div>
            <div class="btn-sm border border-secondary rounded col-lg-12 p-1 my-1">
                <a href="#">
                    <div class="text-center text-secondary h5">
                        <a href="{% url 'scada-dashboard' %}">
                            Projeto Data Center
                        </a>
                    </div>                    
                </a>
            </div>
        </div>
    </section>
</section>
{% endblock content %}

{% block local_javascript %}

<script src="{% static 'landing/lib/jquery-ui-1.9.2.custom.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    var mqtt;
    var reconnectTimeout = 200;
    var host = "192.168.0.38";
    var port = 9001;

    function onConnect(){
        console.log("Connected!");
        mqtt.subscribe("sensor1");
        message = new Paho.MQTT.Message("HIGH");
        message.destinationName = "sensor1";
        mqtt.send(message);
    }

    function onFailure(message){
        console.log("Connection Attempt to Host "+ host +" Failed");
        setTimeout(MQTTconnect, reconnectTimeout);
    }

    function onMessageArrived(msg){
        out_msg = "Message received " + msg.payloadString + "<br>";
        out_msg = out_msg + "Message received Topic: " + msg.destinationName;
        console.log(out_msg);
        $('#content_mqtt').text(msg.payloadString);
    }

    function MQTTconnect(){
        console.log("Connecting to " + host);
        mqtt = new Paho.MQTT.Client(host, port, "clientjs_home");
        var options = {
            timeout: 3,
            onSuccess: onConnect,
            onFailure: onFailure,
        };

        mqtt.onMessageArrived = onMessageArrived

        mqtt.connect(options);
    }

    MQTTconnect()
</script>

{% endblock local_javascript %}