{% extends "landing/login_base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}

{% block local_css %}

<link rel="stylesheet" href="{% static 'landing/lib/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/lib/font-awesome/css/font-awesome.css' %}"/>

<link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/style-responsive.css' %}">

{% endblock local_css %}

{% block login %}
<section id="main-content" style="margin: auto 35%">
    <section class="wrapper" >
        <br>
        <div class="content-panel">
            <form method="POST" style="margin: auto 5%;">
                {% csrf_token %}
                <fieldset class="form-group">
                {% if user.is_authenticated %}
                        <legend class="border-bottom mb-0">
                            Você ja entrou na sua conta
                        </legend>
                    </fieldset>
                    <div class="form-group">
                        <a class="btn btn-outline-info" href="{% url 'landing-home' %}">
                            Voltar
                        </a>
                    </div>
                {% else %}
                        <legend class="border-bottom mb-0">
                            Entre na sua conta
                        </legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Entrar</button>
                    </div>
                {% endif %}
            </form>
        </div>
    </section>
</section>
{% endblock login %}

{% block local_javascript %}

<script src="{% static 'landing/lib/jquery-ui-1.9.2.custom.min.js' %}"></script>

{% endblock local_javascript %}