<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DataCenter - Login</title>

  <!-- Favicons -->
  <link href="{% static 'insert/img/planticon.jpg' %}" rel="icon">
  <link href="{% static 'insert/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'insert/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <!--external css-->
  <link href="{% static 'insert/lib/font-awesome/css/font-awesome.css' %}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{% static 'insert/css/zabuto_calendar.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'insert/lib/gritter/css/jquery.gritter.css' %}" />
  <!-- Custom styles for this template -->
  <link href="{% static 'insert/css/style.css' %}" rel="stylesheet">
  <link href="{% static 'insert/css/style-responsive.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'insert/lib/bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'insert/lib/font-awesome/css/font-awesome.css' %}"/>  
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>

  {% block local_css %}{% endblock %}

</head>

<body>
  <section id="container">

    {% if user.is_authenticated %}
    
        {% include 'landing/header.html' %}

        {% include 'landing/sidebar.html' %}

        {% if messages %}
            {% for message in messages %}
            <section class="wrapper" style="margin-top: 3%">
                <br>
                <div class="alert alert-{{ message.tags }}" style="text-align: center;">
                    {{ message }}
                </div>
            </section>
            {% endfor %}
	    {% endif %}

        {% block content %}{% endblock %}

    {% endif %}
    
    {% block login %}{% endblock %}
        
  </section>
  <!-- js placed at the end of the document so the pages load faster -->

  <script src="{% static 'insert/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'insert/lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script class="include" type="text/javascript" src="{% static 'insert/lib/jquery.dcjqaccordion.2.7.js' %}"></script>
  <script src="{% static 'insert/lib/jquery.scrollTo.min.js' %}"></script>
  <script src="{% static 'insert/lib/jquery.nicescroll.js' %}" type="text/javascript"></script>
  <script src="{% static 'insert/lib/jquery.sparkline.js' %}"></script>
  <!--common script for all pages-->
  <script src="{% static 'insert/lib/common-scripts.js' %}"></script>
  <script type="text/javascript" src="{% static 'insert/lib/gritter/js/jquery.gritter.js' %}"></script>
  <script type="text/javascript" src="{% static 'insert/lib/gritter-conf.js' %}"></script>
  <!--script for this page-->
  <script src="{% static 'insert/lib/sparkline-chart.js' %}"></script>
  <script src="{% static 'insert/lib/zabuto_calendar.js' %}"></script>
  <script type="application/javascript">
    $(document).ready(function() {
      $("#date-popover").popover({
        html: true,
        trigger: "manual"
      });
      $("#date-popover").hide();
      $("#date-popover").click(function(e) {
        $(this).hide();
      });

      $("#my-calendar").zabuto_calendar({
        action: function() {
          return myDateFunction(this.id, false);
        },
        action_nav: function() {
          return myNavFunction(this.id);
        },
        ajax: {
          url: "show_data.php?action=1",
          modal: true
        },
        legend: [{
            type: "text",
            label: "Special event",
            badge: "00"
          },
          {
            type: "block",
            label: "Regular event",
          }
        ]
      });
    });

    function myNavFunction(id) {
      $("#date-popover").hide();
      var nav = $("#" + id).data("navigation");
      var to = $("#" + id).data("to");
      console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
    }
  </script>
  <script src="{% static 'insert/lib/jquery-ui-1.9.2.custom.min.js' %}"></script>
  {% block local_javascript %}{% endblock %}
</body>

</html>