{% extends "landing/login_base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}

{% block local_css %}

<link rel="stylesheet" href="{% static 'landing/lib/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/lib/font-awesome/css/font-awesome.css' %}"/>

<link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/style-responsive.css' %}">

{% endblock local_css %}

{% block login %}
<section id="main-content" style="margin: auto 35%">
    <section class="wrapper" >
        <br>
        <div class="content-panel" style="text-align: center;">
            <h3>
                Você foi desconectado com sucesso
            </h3>
            <h5>
                <a href="{% url 'landing-login' %}">
                    Entrar novamente
                </a>
            </h5>
        </div>
    </section>
</section>
{% endblock login %}

{% block local_javascript %}

<script src="{% static 'landing/lib/jquery-ui-1.9.2.custom.min.js' %}"></script>

{% endblock local_javascript %}