<aside>
    <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
        <h5 class="centered">
        </h5>
        <li class="mt">
            <a class="active" href="{% url 'landing-home' %}">
            <i class="fa fa-dashboard"></i>
            <span>Principal</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
            <i class="fa fa-desktop"></i>
            <span>Gerenciar</span>
            </a>
            <ul class="sub">
            <li><a href="#">Inserir Dados de Coleta</a></li>
            </ul>
            <ul class="sub">
            <li><a href='#'>Visualizar Dados Inseridos</a></li>
            </ul>
            <ul class="sub">
            <li><a href='#'>Graficos</a></li>
            </ul>
        </li>
        <li class="sub-menu">
            <a href="javascript:;">
            <i class="fa fa-cogs"></i>
            <span>Ferramentas</span>
            </a>
            <ul class="sub">
            <li><a href="#">Contatar Desenvolvedor</a></li>
            </ul>
        </li>
        {% if user.is_superuser %} 
            <li class="sub-menu">
                <a href="javascript:;">
                <i class="fa fa-user"></i>
                <span>Administrador</span>
                </a>
                <ul class="sub">
                <li><a href="{% url 'admin:index' %}">Cadastro de Permissões</a></li>
                </ul>
                <ul class="sub">
                <li><a href="{% url 'admin:index' %}">Cadastro de Usuarios</a></li>
                </ul>
            </li>
        {% endif %}  
    </div>
</aside>