{% extends "insert/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load static %}

{% block local_css %}

<link rel="stylesheet" href="{% static 'landing/lib/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'landing/lib/font-awesome/css/font-awesome.css' %}"/>

<link rel="stylesheet" href="{% static 'landing/css/style.css' %}">
<link rel="stylesheet" href="{% static 'landing/css/style-responsive.css' %}">

{% endblock local_css %}

{% block content %}
<section id="main-content">
    <section class="wrapper" >
        <br>
        <div class="col-lg-2">
        </div>
        <div class="content-panel col-lg-8">
            <div class="btn-sm border border-secondary rounded col-lg-12 p-1 my-1 text-center">
                <div class="text-center text-secondary h5">
                    <h3 class="text-center">
                        <b>
                            Seu usuário não possui acesso a esse Projeto.
                        </b>
                    </h3>
                    <h4>
                        prick
                    </h4>
                </div>
            </div>
            <div class="btn-sm border border-secondary rounded col-lg-12 p-1 my-1">
            </div> 
        </div>
        <br>
    </section>
</section>

{% endblock content %}

{% block local_javascript %}

<script src="{% static 'landing/lib/jquery-ui-1.9.2.custom.min.js' %}"></script>

{% endblock local_javascript %}